/* styles.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Graph container styles */
.left, .right {
    width: 48%; /* Adjust according to your layout */
}

.graph-container {
    border: 1px solid #ddd;
    padding: 20px;
}

/* Dropdown styles */
.dropdown-container {
    margin-bottom: 20px;
}

/* Adjustments for specific graphs */
#graph1 {
    /* Add specific styles for graph1 container */
}

#graph2 {
    /* Add specific styles for graph2 container */
}

#graph3 {
    /* Add specific styles for graph3 container */
}

#graph4 {
    /* Add specific styles for graph4 container */
}
/*    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
    }

    .wide-long {
        grid-column-end: span 2; /* Occupies two columns
    } */

    .container {
        display: flex;
        flex-wrap: wrap;
        /*justify-content: space-between;*/
        width: 100%;
        max-width: 100%;
    }
    .box {
        /*margin-bottom: 10px;  Adjust as needed */
        /*background-color: #EADDCA;*/
        border: 3px solid #ccc;
        box-sizing: border-box;
        border-width:3px;
        border-radius:25px;

    }

    /* Adjust widths here */
    .box:nth-child(1){
    width:50%;
    }
    .box:nth-child(2){
    width: 35%;
    border-right:none;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    background-color:white;
    }
    .box:nth-child(3) {
        width: 15%; /* Adjust as needed */
        border-left:none;
        border-bottom-left-radius:0;
        border-top-left-radius:0;
    }
    .box:nth-child(4) {
        width: 35%; /* Adjust as needed */
    }
    .box:nth-child(5){
        width:65%;
        /*background-color: #EADDCA;*/
    }

    .kpi-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #f2f2f2;
        padding: 0px 0;
    }
    .kpi {
        text-align: center;
        padding: 1px;
        border: 0px solid #ddd;
        border-radius: 5px;
    }

        .slider {
      fill: none;
    }
    .track {
      stroke: #ddd;
      stroke-width: 2px;
    }
    .handle {
      fill: #2196F3;
      cursor: pointer;
    }
    .tick {
      stroke: #666;
      stroke-width: 1px;
    }