<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="flex-container">
            <div class="row">
                <!-- <div id="graph1" class="left">
                    <div id="graph1dropdown1">
                        <select id="graph1dropdown1options"></select>
                    </div>
                </div> -->
                <div id="parent_graph1">
                    <div id="graph1dropdown1">
                        <select id="graph1dropdown1options"></select>
                    </div>
                    <div id="graph1" class="left">
                        <!-- Graph content goes here -->
                    </div>
                </div>
                <div id="radarplot" class="right"></div>
            </div>
            <div class="row">
                <div id="mds_row_plot" class="left"></div>
                <div id="scatterplot" class="right"></div>
            </div>
        </div>
    </div>

    <!-- <script src="https://d3js.org/d3.v7.min.js"></script> -->
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
